{{!-- {{#with member}} --}}
<h1 class='members-header'>Add New Member</h1>
<form method="post" class='new-member-form'>  
  <input type="text" name="surname" placeholder='Last' value={{surname}}>
  <input type="text" name="firstname" placeholder='First' value={{firstname}}>
  <input type="text" name="address" placeholder='Address' value={{address}}>
  <input type="text" name="zipcode" placeholder='Zip' value={{zipcode}}>
  <input type="text" name="telephone" placeholder='Telephone' value={{telephone}}>
  <input type="submit">
</form>
{{!-- {{/with}} --}}